[submodule "external/banggame"]
	path = external/banggame
	url = https://github.com/salvoilmiosi/banggameserver
[submodule "external/subprocess"]
	path = external/subprocess
	url = http://github.com/salvoilmiosi/subprocess
