[submodule "banggameserver"]
	path = game
	url = https://github.com/salvoilmiosi/banggameserver
[submodule "resources/cards"]
	path = resources/cards
	url = http://github.com/salvoilmiosi/bang-cards
[submodule "external/tiny-process-library"]
	path = external/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library
